{%- assign citation_page = site.blogs | where: 'translation_key', page.translation_key | where: 'lang', 'en' | first | default: page -%}
{%- assign citation_author = citation_page.citation_author | default: citation_page.author -%}
{%- capture default_key -%}{{ citation_page.translation_key | default: citation_page.slug | slugify }}{{ citation_page.date | date: '%Y' }}{%- endcapture -%}
{%- assign citation_key = citation_page.citation_key | default: default_key | slugify -%}
{%- assign brace_open = '{' -%}
{%- assign brace_close = '}' -%}
{%- capture bibtex -%}
@misc{ {{- citation_key -}},
  author = {{ brace_open }}{% include bibtex-text.html text=citation_author %}{{ brace_close }},
  title = {{ brace_open }}{% include bibtex-text.html text=citation_page.title %}{{ brace_close }},
  year = {{ brace_open }}{{ citation_page.date | date: '%Y' }}{{ brace_close }},
  month = {{ citation_page.date | date: '%b' | downcase }},
  url = {{ brace_open }}{{ citation_page.url | absolute_url }}{{ brace_close }},
  note = {Blog post}
}
{%- endcapture -%}
<section class="blog-citation" aria-labelledby="blog-citation-title">
  <h2 id="blog-citation-title">Citation</h2>
  <pre class="blog-citation__box" tabindex="0" aria-labelledby="blog-citation-title"><code id="blog-bibtex">{{ bibtex | escape }}</code></pre>
</section>
